In [2]:
import Pkg;Pkg.add("DataFrames")

  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
[1mFetching: [========================================>]  100.0 %.0 % Resolving package versions...
 Installed DataAPI ───────────────────── v1.1.0
 Installed IteratorInterfaceExtensions ─ v1.0.0
 Installed DataStructures ────────────── v0.17.9
 Installed Tables ────────────────────── v0.2.11
 Installed DataFrames ────────────────── v0.20.0
 Installed Reexport ──────────────────── v0.2.0
 Installed PooledArrays ──────────────── v0.5.3
 Installed SortingAlgorithms ─────────── v0.3.1
 Installed TableTraits ───────────────── v1.0.0
 Installed InvertedIndices ───────────── v1.0.0
 Installed DataValueInterfaces ───────── v1.0.0
 Installed Compat ────────────────────── v3.2.0
 Installed OrderedCollections ────────── v1.1.0
 Installed Missings ──────────────────── v0.4.3
 Installed CategoricalArrays ─────────── v0.7.7
  Updating `~/.julia/environments/v1.3/Project.toml`
  [a93c6f00] + DataFrames v0.20.0
  Updating `~/.julia/environments/v1.3/Manifest.toml`
  [324d7699] + CategoricalArrays v0.7.7
  [34da2185] + Compat v3.2.0
  [9a962f9c] + DataAPI v1.1.0
  [a93c6f00] + DataFrames v0.20.0
  [864edb3b] + DataStructures v0.17.9
  [e2d170a0] + DataValueInterfaces v1.0.0
  [41ab1584] + InvertedIndices v1.0.0
  [82899510] + IteratorInterfaceExtensions v1.0.0
  [e1d29d7a] + Missings v0.4.3
  [bac558e1] + OrderedCollections v1.1.0
  [2dfb63ee] + PooledArrays v0.5.3
  [189a3867] + Reexport v0.2.0
  [a2af1166] + SortingAlgorithms v0.3.1
  [3783bdb8] + TableTraits v1.0.0
  [bd369af6] + Tables v0.2.11
  [8bb1440f] + DelimitedFiles
  [9fa8497b] + Future
  [37e2e46d] + LinearAlgebra
  [1a1011a3] + SharedArrays
  [2f01184e] + SparseArrays
  [10745b16] + Statistics

In [3]:
using DataFrames, Random

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1273

In [4]:


DataFrame()

0×0 DataFrame

In [5]:
DataFrame(A=1:3, B=rand(3), C=randstring.([3,3,3]))

3×3 DataFrame
│ Row │ A     │ B         │ C      │
│     │ Int64 │ Float64   │ String │
├─────┼───────┼───────────┼────────┤
│ 1   │ 1     │ 0.0395966 │ qOp    │
│ 2   │ 2     │ 0.939549  │ QgN    │
│ 3   │ 3     │ 0.94844   │ XHW    │

In [6]:
x = Dict("A" => [1,2], "B" => [true, false], "C" => ['a', 'b'])
DataFrame(x)

2×3 DataFrame
│ Row │ A     │ B    │ C    │
│     │ Int64 │ Bool │ Char │
├─────┼───────┼──────┼──────┤
│ 1   │ 1     │ 1    │ 'a'  │
│ 2   │ 2     │ 0    │ 'b'  │

In [7]:
DataFrame(:A => [1,2], :B => [true, false], :C => ['a', 'b'])

2×3 DataFrame
│ Row │ A     │ B    │ C    │
│     │ Int64 │ Bool │ Char │
├─────┼───────┼──────┼──────┤
│ 1   │ 1     │ 1    │ 'a'  │
│ 2   │ 2     │ 0    │ 'b'  │

In [8]:
DataFrame([rand(3) for i in 1:3])

3×3 DataFrame
│ Row │ x1       │ x2        │ x3          │
│     │ Float64  │ Float64   │ Float64     │
├─────┼──────────┼───────────┼─────────────┤
│ 1   │ 0.76855  │ 0.0379678 │ 0.000970836 │
│ 2   │ 0.325964 │ 0.614682  │ 0.302036    │
│ 3   │ 0.255307 │ 0.151261  │ 0.648118    │

In [9]:
DataFrame(rand(3))

ArgumentError: ArgumentError: 'Array{Float64,1}' iterates 'Float64' values, which don't satisfy the Tables.jl Row-iterator interface

In [10]:
DataFrame(permutedims([1, 2, 3]))

1×3 DataFrame
│ Row │ x1    │ x2    │ x3    │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │

In [11]:
v = [(a=1, b=2), (a=3, b=4)]
DataFrame(v)

2×2 DataFrame
│ Row │ a     │ b     │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 2     │
│ 2   │ 3     │ 4     │

In [12]:
DataFrame([1:3, 4:6, 7:9], [:A, :B, :C])

3×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 4     │ 7     │
│ 2   │ 2     │ 5     │ 8     │
│ 3   │ 3     │ 6     │ 9     │

In [13]:
n = (a=1:3, b=11:13)
DataFrame(n)

3×2 DataFrame
│ Row │ a     │ b     │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 11    │
│ 2   │ 2     │ 12    │
│ 3   │ 3     │ 13    │

In [14]:
DataFrame(rand(3,4))

3×4 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4        │
│     │ Float64  │ Float64  │ Float64  │ Float64   │
├─────┼──────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.351068 │ 0.86412  │ 0.727295 │ 0.658004  │
│ 2   │ 0.811321 │ 0.702616 │ 0.690332 │ 0.858777  │
│ 3   │ 0.60952  │ 0.589287 │ 0.516658 │ 0.0695259 │

In [15]:
DataFrame(rand(3,4), Symbol.('a':'d'))

3×4 DataFrame
│ Row │ a        │ b        │ c        │ d         │
│     │ Float64  │ Float64  │ Float64  │ Float64   │
├─────┼──────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.635502 │ 0.403388 │ 0.824667 │ 0.112018  │
│ 2   │ 0.845957 │ 0.281084 │ 0.176058 │ 0.726671  │
│ 3   │ 0.536968 │ 0.805185 │ 0.274709 │ 0.0909144 │

In [16]:


DataFrame([Int, Float64, String, Any], [:A, :B, :C, :D], 1)

1×4 DataFrame
│ Row │ A     │ B            │ C      │ D       │
│     │ Int64 │ Float64      │ String │ Any     │
├─────┼───────┼──────────────┼────────┼─────────┤
│ 1   │ 0     │ 6.91195e-310 │ #undef │ missing │

In [17]:


DataFrame([Int, Float64, String], [:A, :B, :C])

0×3 DataFrame

In [18]:
x = DataFrame(a=1:2, b='a':'b')
y = copy(x)
(x === y), isequal(x, y), (x.a == y.a), (x.a === y.a)

(false, true, true, false)

In [19]:
x = DataFrame(a=1:2, b='a':'b')
y = DataFrame(x)
(x === y), isequal(x, y), (x.a == y.a), (x.a === y.a)

(false, true, true, false)

In [20]:
x = DataFrame(a=1:2, b='a':'b')
y = DataFrame(x, copycols=false)
(x === y), isequal(x, y), (x.a == y.a), (x.a === y.a)

(false, true, true, true)

In [21]:
Pkg.add("Pandas")
using Pandas

 Resolving package versions...
 Installed Pandas ─────────── v1.3.0
 Installed PyCall ─────────── v1.91.2
 Installed DataValues ─────── v0.4.13
 Installed Lazy ───────────── v0.14.0
 Installed MacroTools ─────── v0.5.3
 Installed Compat ─────────── v2.2.0
 Installed TableTraitsUtils ─ v1.0.1
  Updating `~/.julia/environments/v1.3/Project.toml`
  [eadc2687] + Pandas v1.3.0
  Updating `~/.julia/environments/v1.3/Manifest.toml`
  [34da2185] ↓ Compat v3.2.0 ⇒ v2.2.0
  [e7dc6d0d] + DataValues v0.4.13
  [50d2b5c4] + Lazy v0.14.0
  [1914dd2f] + MacroTools v0.5.3
  [eadc2687] + Pandas v1.3.0
  [438e738f] + PyCall v1.91.2
  [382cd787] + TableTraitsUtils v1.0.1
  Building PyCall → `~/.julia/packages/PyCall/ttONZ/deps/build.log`

┌ Info: Precompiling Pandas [eadc2687-ae89-51f9-a5d9-86b5a6373a9c]
└ @ Base loading.jl:1273
WARNING: using Pandas.DataFrame in module Main conflicts with an existing identifier.

In [22]:
x = DataFrame(a=1:2, b='a':'b')
y = DataFrame!(x)
(x === y), isequal(x, y), (x.a == y.a), (x.a === y.a)

(false, true, true, true)

In [23]:
a = [1, 2, 3]
df1 = DataFrame(a=a)
df2 = DataFrame(a=a, copycols=false)
df1.a === a, df2.a === a

(false, true)

In [24]:
similar(x)

2×2 DataFrame
│ Row │ a               │ b                  │
│     │ Int64           │ Char               │
├─────┼─────────────────┼────────────────────┤
│ 1   │ 3               │ '\x00\x88\x2a\xa0' │
│ 2   │ 139899978653920 │ '\x00\x00\x7f\x3d' │

In [25]:
similar(x, 0)

0×2 DataFrame

In [26]:


sdf = view(x, [1,1], :)

2×2 SubDataFrame
│ Row │ a     │ b    │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 1     │ 'a'  │

In [27]:


typeof(sdf)

SubDataFrame{DataFrame,DataFrames.Index,Array{Int64,1}}

In [28]:


DataFrame(sdf)

2×2 DataFrame
│ Row │ a     │ b    │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 1     │ 'a'  │

In [29]:


dfr = x[1, :]

DataFrameRow
│ Row │ a     │ b    │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │

In [30]:


DataFrame(dfr)

1×2 DataFrame
│ Row │ a     │ b    │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │

In [31]:
x = DataFrame(x=1:2, y=["A", "B"])

2×2 DataFrame
│ Row │ x     │ y      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ A      │
│ 2   │ 2     │ B      │

In [32]:
Matrix(x)

2×2 Array{Any,2}:
 1  "A"
 2  "B"

In [33]:


Array(x)

2×2 Array{Any,2}:
 1  "A"
 2  "B"

In [34]:
x = DataFrame(x=1:2, y=[missing,"B"])

2×2 DataFrame
│ Row │ x     │ y       │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ missing │
│ 2   │ 2     │ B       │

In [35]:


Matrix(x)

2×2 Array{Any,2}:
 1  missing
 2  "B"

In [36]:


x = DataFrame(x=1:2, y=3:4)

2×2 DataFrame
│ Row │ x     │ y     │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 3     │
│ 2   │ 2     │ 4     │

In [37]:
Matrix(x)

2×2 Array{Int64,2}:
 1  3
 2  4

In [38]:
x = DataFrame(x=1:2, y=[missing,4])

2×2 DataFrame
│ Row │ x     │ y       │
│     │ Int64 │ Int64⍰  │
├─────┼───────┼─────────┤
│ 1   │ 1     │ missing │
│ 2   │ 2     │ 4       │

In [39]:
Matrix(x)

2×2 Array{Union{Missing, Int64},2}:
 1   missing
 2  4

In [40]:


Matrix{Int}(x)

ArgumentError: ArgumentError: cannot convert a DataFrame containing missing values to Matrix{Int64} (found for column y)

In [41]:
x = DataFrame(x=1:2, y=["A", "B"])

2×2 DataFrame
│ Row │ x     │ y      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ A      │
│ 2   │ 2     │ B      │

In [44]:
import Pkg;Pkg.add("Tables")
using Tables

 Resolving package versions...
  Updating `~/.julia/environments/v1.3/Project.toml`
  [bd369af6] + Tables v0.2.11
  Updating `~/.julia/environments/v1.3/Manifest.toml`
 [no changes]

In [45]:


ct = Tables.columntable(x)

(x = [1, 2], y = ["A", "B"])

In [46]:
rt = Tables.rowtable(x)

2-element Array{NamedTuple{(:x, :y),Tuple{Int64,String}},1}:
 (x = 1, y = "A")
 (x = 2, y = "B")

In [47]:
DataFrame(ct)

2×2 DataFrame
│ Row │ x     │ y      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ A      │
│ 2   │ 2     │ B      │

In [48]:
DataFrame(rt)

2×2 DataFrame
│ Row │ x     │ y      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ A      │
│ 2   │ 2     │ B      │

In [49]:
df = DataFrame(:a=>1, :a=>2, :a_1=>3; makeunique=true)

1×3 DataFrame
│ Row │ a     │ a_2   │ a_1   │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │

In [50]:


df = DataFrame(:a=>1, :a=>2, :a_1=>3)

ArgumentError: ArgumentError: Duplicate variable names: :a. Pass makeunique=true to make them unique using a suffix automatically.

In [51]:


DataFrame(x=[1, nothing], y=[nothing, "a"])

2×2 DataFrame
│ Row │ x      │ y      │
│     │ Union… │ Union… │
├─────┼────────┼────────┤
│ 1   │ 1      │        │
│ 2   │        │ a      │

In [52]:
using Pandas

In [53]:
df = DataFrame(Dict(:age=>[27, 29, 27], :name=>["James", "Jill", "Jake"]))

3×2 DataFrame
│ Row │ age   │ name   │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 27    │ James  │
│ 2   │ 29    │ Jill   │
│ 3   │ 27    │ Jake   │